<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Spring Commerce</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
   </head>
   <body>
      
      <th:block th:include="/_menu"></th:block>
       
      <section id="spring1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://c4.wallpaperflare.com/wallpaper/642/478/355/apple-apple-phone-laptop-wallpaper-preview.jpg" style="width: 100%;">
<!--      <video loop="" autoplay="" playsinline="" src="https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/global%20brand%20publishing/Running/Faster%20Than/running-ss20-faster-than-launch-hp-masthead-small-ub20-d.mp4" style=" width: 100%;" ></video>-->
      <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 50px; font-weight: 900; margin-bottom: 140px; margin-right: 600px; color: #000;">APPLE<br>
        <p style="font-size: 1rem; color: #000;">Perfect in your style</p>
        <a href="/productList"  style="clear:both; background: #000; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;" />SHOP NOW <span class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>
        </h1>
      </div>
    </div>
  </div>
</div>
</section>
<br>

<!-- ------------------------------section end---------------------------------- -->
  
      <!-- ------------------------------section end---------------------------------- -->
      <section id="product_sec">
         <div class="row">
           <div class="col-lg-3">
             <img src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/t/_/t_m_18.png">
             
           </div>

           <div class="col-lg-3">
             <img src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/m/a/macbook-air-space-gray-config-20.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/i/p/ipad-pro-12-9-2021-1_1_1.jpg">
           </div>

           <div class="col-lg-3">
             <img src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/d/a/day-deo-apple-watch-raptic-mesh-band-42-44mm-1.jpeg">
           </div>
         </div>
      </section>



  <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <img src="img/footer-logo.png" style="width: 80%; height: 50%;"><br>

            <h6 class="mt-3">APPLE INDUSTRY</h6>
            <p>
              (770) 943-4054
              2910 Robertswood Dr
              Powder Springs, Georgia(GA), 30127
            </p>
        </div>
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-3">
          <a href="">About Apple</a>
          <a href="">Brands</a>
          <a href="">News</a>
          <a href="">Awards</a>
          <a href="">Gallery</a>
          <a href="">Sitemap</a>
        </div>
        <div class="col-sm-3">
          <a href="">Privacy Policy</a>
          <a href="">Term Of Use</a>
          <a href="">Tran Duc Van</a>
          <a href="">51900846</a>


          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
        </div>
      </div>
      <hr>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>